 .fundo-about {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 130vh;
  width: 100vw;
  background: linear-gradient(45deg, #000000, #000000, #538921, #32570f);
  background-size: 300% 300%;
  animation: colors 10s ease infinite;
}

.fundo-aboutMobile {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  display: flex;
  height: 210vh;
  width: 100vw;
  background: linear-gradient(45deg, #000000, #000000, #538921, #32570f);
  background-size: 300% 300%;
  animation: colors 10s ease infinite;
}
.section-header {
  text-align: center;
  padding-bottom: 60px;
}

.fonte-h2{
  font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-top: 80px;
}

.p-about {
  font-style: italic;
  margin-top: -25px;
  font-size: 18px;
  font-weight: 500;
 }


@keyframes colors {
 0% {
   background-position: 0% 50%;
 }

 50% {
   background-position: 100% 50%;
 }

 100% {
   background-position: 0% 50%;
 }
}