.fundo-about {
    background-image: url(https://cdn.discordapp.com/attachments/1204581001138020394/1204592226793955369/foto-de-grande-angular-de-uma-unica-arvore-crescendo-sob-um-ceu-nublado-durante-um-por-do-sol-cercado-por-grama.jpg?ex=65d54aef&is=65c2d5ef&hm=b3984e427055d19707ded46beac4a9483018f47d7499c4228083b45efa355273&);
    background-repeat: no-repeat;
    max-height: 100%;
    min-height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.section-header {
    text-align: center;
    padding-bottom: 60px;
}

.fonte-h2{
    font-size: 32px;
      font-weight: 600;
      margin-bottom: 20px;
      padding-bottom: 20px;
      padding-top: 80px;
}

.p-about {
    font-style: italic;
    margin-top: -25px;
    font-size: 18px;
    font-weight: 500;
   }

.fundo{
  font-family: "Moulpali", sans-serif;
  font-weight: 400;
  font-style: normal;
 
   background: linear-gradient(45deg, #CFFF8D, #A8E890, #3CB371, #425F57);
   background-size: 300% 300%;
   animation: colors 5s ease infinite;
 }
 
 @keyframes colors {
   0% {
     background-position: 0% 50%;
   }
 
   50% {
     background-position: 100% 50%;
   }
 
   100% {
     background-position: 0% 50%;
   }
 }