.section {
  font-family: "Moulpali", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(45deg, #000000, #000000, #538921, #32570f);
  background-size: 300% 300%;
  animation: colors 10s ease infinite;
  font-size: 1.5rem;
}

@keyframes colors {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.form-boxLogin {
  position: relative;
  width: 400px;
  height: 500px;
  background: transparent;
  border: 2px solid rgb(249, 249, 249);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonLogin {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  border: 2px solid white;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
}

.inputboxLogin {
  position: relative;
  margin: 30px 0;
  width: 310px;
  border-bottom: 2px solid #fff;
}

.placeholderLogin::placeholder {
  color: white;
  /* Substitua isso pela cor desejada */
}

.inputboxLogin input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 0 10px 5px;
  color: #fff;
}

.input-containerLogin {
  padding: 0 10px 5px;
  position: relative;
  display: inline-block;
}

.input-containerLogin img {
  position: absolute;
  right: 10px;
  /* Ajuste conforme necessário para posicionar a imagem corretamente */
  top: 50%;
  /* Ajuste conforme necessário para posicionar a imagem corretamente */
  transform: translateY(-50%);
  width: 20px;
  /* Ajuste o tamanho da imagem conforme necessário */
  height: auto;
}

.iconManterLog img {
  position: absolute;
  left: 50px;
  /* Ajuste conforme necessário para posicionar a imagem corretamente */
  top: 65%;
  /* Ajuste conforme necessário para posicionar a imagem corretamente */
  transform: translateY(-50%);
  width: 20px;
  /* Ajuste o tamanho da imagem conforme necessário */
  height: auto;
}

.forget {
  margin: -15px 15px;
  font-size: .9em;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.bg-login {
  background-color: #228B22;
}

.line-h {
  width: 100%;
  border: 1px solid #000;
}

.hr-login {
  position: relative;
  z-index: 100;
  margin-top: -10px;
  margin-bottom: 0px;
}

.descricao-login {
  border-radius: 25px;
  font-size: 14px;
  position: relative;
  z-index: 200;
  left: 29%;
  z-index: 200;
  background-color: white;
  max-width: 135px;
  color: rgb(69, 72, 75);
}

.border-f {
  border-color: #228B22 !important;
}
