.fundoPerfil{
  font-family: "Moulpali", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(45deg, #CFFF8D, #A8E890, #3CB371, #425F57);
  background-size: 300% 300%;
  animation: colors 10s ease infinite;
}

@keyframes colors {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
  .imagem{
    width: 24rem;
    border-width:1rem ;
    box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.393),
    5px 5px 5px rgba(35, 35, 35, 0.474);
  }