.fundoCadastroProd {
  font-family: 'Merienda', cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(45deg, #CFFF8D, #A8E890, #3CB371, #425F57);
  background-size: 300% 300%;
  animation: colors 10s ease infinite;
}

@keyframes colors {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
  
  .conteudoCP {
    background-image:  url(../../../assets/cadastro.png);
    width: 70%;
    height: fit-content;
    padding: 90px;
    margin: auto;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.393),
      -20px -20px 20px rgba(0, 0, 0, 0.393),
      20px -20px 20px rgba(35, 35, 35, 0.474),
      -20px 20px 20px rgba(35, 35, 35, 0.474);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
    /* Cor do texto sobreposto */
    z-index: 1;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row-reverse;
  }
  
  .conteudoCP h2 {
    text-align: top; 
  }
  
  .form-boxCadastroProd {
    position: relative;
    width: 350px;
    height: 650px;
    background: transparent;
    border: 2px solid rgb(249, 249, 249);
    border-radius: 20px;
    backdrop-filter: blur(40px);
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  .buttonCadastroProd {
    width: 35%;
    height: 40px;
    border-radius: 40px;
    border: 2px solid #9e9f9e;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    margin-left: 30px;
    margin-right: 30px;
  }
  
  .inputboxCadastroProd {
    position: relative;
    margin: 15px 0;
    width: 250px;
    border-bottom: 2px solid #fff;
  }
  
  .placeholderCadastroProd::placeholder {
    color: white;
    text-align: center;
    /* Substitua isso pela cor desejada */
  }
  
  .inputboxCadastroProd input, select {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 10px 5px;
    color: #fff;
  }
  
  .input-containerCadastroProd {
    padding: 0 10px 5px;
    position: relative;
    display: inline-block;
  }
  
  .input-containerCadastroProd img {
    position: absolute;
    right: 10px;
    /* Ajuste conforme necessário para posicionar a imagem corretamente */
    top: 50%;
    /* Ajuste conforme necessário para posicionar a imagem corretamente */
    transform: translateY(-50%);
    width: 20px;
    /* Ajuste o tamanho da imagem conforme necessário */
    height: auto;
  }

option{
  background-color: black;
}

option:nth-last-child(){
  border-radius: 0 0 50% 50%;
}

.fundoForm{
  background-color: #3cb372eb;
  background: linear-gradient(to top, #3CB371 0%, rgb(255, 255, 255, 1) 45%)
}

.fotoFundo{

}