.mySwiper {
  width: 100%;
   /* Full width on all screens */

}

.swiper-slide img {
  width: 100%;
  height: 750px; /* Adjust as needed */
  object-fit: cover;
}

@media (max-width: 768px) {
  .swiper-slide img {
    height: 400px; /* Adjust for smaller screens */
    object-fit: cover;
  }
}

.gambido-lipe{
    width: 100%;
    height: 750px;
    align-items: center ;
    object-fit: cover;
}

.bg-image-slide02{
  background: linear-gradient(to bottom, rgba(221, 14, 14, 0.5) 0%, rgb(255, 255, 255, 1) 100%), url('https://www.portalsolar.com.br/_next/image?url=%2Fassets%2Fsimulator%2Fenergia-solar-residencial-portal-solar.webp&w=2048&q=75');
  background-repeat: no-repeat;
  max-height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  
}

.bg-image-slide1{
  background: linear-gradient(to bottom, rgba(221, 14, 14, 0.5) 0%, rgb(255, 255, 255, 1) 100%), url('https://cdn.motor1.com/images/mgl/Vz8EEz/s1/renault-zoe---um-mes-dirigindo-um-carro-eletrico-4.webp');
  background-repeat: no-repeat;
  max-height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;

}

.bg-image-slide4{
  background: linear-gradient(to bottom, rgba(221, 14, 14, 0.5) 0%, rgb(255, 255, 255, 1) 100%), url('https://bluesol.com.br/wp-content/uploads/2016/08/banner-curso-01.jpg');
  background-repeat: no-repeat;
  max-height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.bg-image-slide3{
  background: linear-gradient(to bottom, rgba(221, 14, 14, 0.5) 0%, rgb(255, 255, 255, 1) 100%), url('https://bluesol.com.br/wp-content/uploads/2016/08/banner-curso-05.jpg');
  background-repeat: no-repeat;
  max-height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}




.swiper-button-next, .swiper-button-prev {
  color: white !important;

}

.swiper-button-prev:after, .swiper-button-next:after {
  background-color: rgba(241, 235, 241, 0.192) !important;
  padding-left: 25px;
  padding-right: 25px ;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 50vh !important;
}

.swiper-button-prev:after{
  margin-left: 35px !important;
}
.swiper-button-next:after {
  margin-right: 35px !important;

}

.swiper-pagination-progressbar-fill {
  background: rgb(255, 253, 251) !important;
}
.swiper-pagination-bullet-active {
  background: rgb(255, 253, 251) !important;
}

  /*
.img-logo{
    width: 500px;
    height: 500px;
    display: block;
    margin: 0 auto;
}

.container-slider {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
  }
  
 .title-slider { 
    text-align: center;
    margin: 24px 0;
  }

  .slide-item{
    width: 100%;
    height: 700px;
    object-fit: cover;
  }



  */