.fundoCadastroCateg {
  font-family: 'Merienda', cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(45deg, #000000, #000000, #538921, #32570f);
  background-size: 300% 300%;
  animation: colors 10s ease infinite;
}

@keyframes colors {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.conteudoCateg {
  width: 70%;
  height: 650px;
  padding: 90px;
  margin: auto;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.393),
    -20px -20px 20px rgba(0, 0, 0, 0.393),
    20px -20px 20px rgba(35, 35, 35, 0.474),
    -20px 20px 20px rgba(35, 35, 35, 0.474);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
  /* Cor do texto sobreposto */
  z-index: 1;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row-reverse;
  background-position-x: -130px;
  border-radius: 20px;
}
.conteudoCategMobile {
  width: 70%;
  height: 450px;
  padding: 90px;
  margin: auto;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.393),
    -20px -20px 20px rgba(0, 0, 0, 0.393),
    20px -20px 20px rgba(35, 35, 35, 0.474),
    -20px 20px 20px rgba(35, 35, 35, 0.474);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
  /* Cor do texto sobreposto */
  z-index: 1;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row-reverse;
  background-position-x: -130px;
  border-radius: 20px;
}
.imagemfloscateg{
  width:100vw
}

.conteudoCateg h2 {
  text-align: top; /* Ajustei top para center, pois top não é um valor válido para text-align */
}

.form-boxCadastroCateg {
  position: relative;
  width: 350px;
  height: fit-content;
  background: transparent;
  border: 2px solid rgb(249, 249, 249);
  border-radius: 20px;
  backdrop-filter: blur(30px);
  display: flex;
  justify-content: center; /* Alterei end para flex-end */
  align-items: center;
}

.buttonCadastroCateg {
  width: 54%;
  height: 40px;
  border-radius: 40px;
  border: 2px solid #9f9e9e;
  outline: none;
  cursor: pointer;
  font-size: 1.4em;
  font-weight: 600;
  margin-left: 30px;
  margin-right: 30px;
}

.inputboxCadastroCateg {
  position: relative;
  margin: 15px 0;
  width: 150px;
  display:block;
  border-bottom: 2px solid #fff;
  justify-content: center;
    align-items: center;
}

.placeholderCadastroCateg::placeholder {
  color: white;
  text-align: center;
  font-size: 15px;
  /* Substitua isso pela cor desejada */
}

.inputboxCadastroCateg input,
.inputboxCadastroCateg select {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 0 10px 5px;
  color: #fff;
}

.input-containerCadastroCateg {
  padding: 0 10px 5px;
  position: relative;
  display: block;
}

.input-containerCadastroCateg img {
  position: absolute;
  right: 10px;
  /* Ajuste conforme necessário para posicionar a imagem corretamente */
  top: 50%;
  /* Ajuste conforme necessário para posicionar a imagem corretamente */
  transform: translateY(-50%);
  width: 20px;
  /* Ajuste o tamanho da imagem conforme necessário */
  height: auto;
}

option {
  background-color: black;
}

option:last-child {
  border-radius: 0 0 50% 50%; /* Corrigi a pseudo-classe e a propriedade */
}
